<%- include('header.ejs') %>
  <%- include('navbar.ejs') %>

    <body>
      <div>
        <form class="form-inline" method="post" action="/games">
          <input class="form-control" id="nickName" name="nickName" type="search" placeholder="Nickname"
            aria-label="Search" />
          <br>
          <label style="margin-left:12px; margin-top:5px;" for="startDate">From</label>
          <input style="margin-left:12px; margin-top:5px;" type="date" class="form-control" id="startDate"
            name="startDate">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
          </div>
          <br>
          <!-- <div> -->
          <label style="margin-left:12px; margin-top:5px;" for="endDate">To</label>
          <input style="margin-left:12px; margin-top:5px;" type="date" class="form-control" id="endDate" name="endDate">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
          </div>
          <!-- </div> -->
          <!-- <input class="form-control mr-sm-2" id="nickName" name="nickName" type="search" placeholder="Nickname" aria-label="Search" /> -->
          <button style="margin-left:12px; margin-top:5px;" class="btn btn-outline-success my-2 my-sm-0"
            type="submit">Search</button>
          <!-- <p></p> -->
          <!-- <br /> -->
        </form>
      </div>

      <br>
      <br>
      <p>Total rows: <%= games.length%> </p>
      <container>
        <table class="table">
          <thead class="table-dark">
            <tr>
              <th>Game ID</th>
              <th>Date / Time</th>
              <th>User ID</th>
              <th>Mode</th>
              <th>Session Result</th>
              <th>Time Left</th>
              <th>Difficulty</th>
              <th>Character</th>
              <th>Envoriment</th>
              <th>Win Reward</th>
              <th>Difficulty Bonus</th>
              <th>Time Bonus</th>
              <th>Total Reward</th>
            </tr>
          </thead>

          <tbody>
            <% games.forEach(game=> { %>
              <tr>
                <td>
                  <%= game.id %>
                </td>
                <td>
                  <%= game.createdAt %>
                </td>
                <td>
                  <%= game.userId %>
                </td>
                <td>
                  <%= game.mode %>
                </td>
                <td>
                  <%= game.result %>
                </td>
                <td>
                  <%= game.timeLeft %>
                </td>
                <td>
                  <%= game.difficulty %>
                </td>
                <td>
                  <%= game.character %>
                </td>
                <td>
                  <%= game.enviroment %>
                </td>
                <td>
                  <%= game.winReward %>
                </td>
                <td>
                  <%= game.difficultyBonus %>
                </td>
                <td>
                  <%= game.timeBonus %>
                </td>
                <td>
                  <%= game.totalReward %>
                </td>
              </tr>
              <% }) %>
          </tbody>

        </table>
      </container>
    </body>

    <script type="text/javascript" src="./javascripts/script.js"></script>

    <script>

      document.getElementById('status-toggle').onchange = function (e) {

        const games = '<%- JSON.stringify(games) %>';
        const user = JSON.parse(games);

        const status = e.target.checked ? 'ACTIVE' : 'BLOCKED';
        const body = { status, userId: user[0].id };
        return sendRequest(body);

      };

    </script>