<%- include('header.ejs') %>
  <%- include('navbar.ejs') %>

    <div class="container-fluid">

      <body>
        <div class="input-group date" data-provide="datepicker">
          <form class="form-inline my-2 my-lg-0" method="post" action="/newUsers">
            <div>
              <label for="startDate">From</label>
              <input type="date" class="form-control" id="startDate" name="startDate">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
              </div>
            </div>
            <br>
            <div>
              <label for="endDate">To</label>
              <input type="date" class="form-control" id="endDate" name="endDate">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
              </div>
            </div>
            <!-- <input class="form-control mr-sm-2" id="nickName" name="nickName" type="search" placeholder="Nickname" aria-label="Search" /> -->
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            <p></p>
            <br />
          </form>
        </div>

        <br>
        <br>
        <p>Total rows: <%= users.length%>
        </p>
        <table class="table" id="usersList">
          <thead class="table-dark">
            <tr>
              <th scope="col"> User Id </th>
              <th scope="col"> Discord Name </th>
              <th scope="col"> Nick Name </th>
              <th scope="col"> Device Id </th>
              <th scope="col"> Discord Member </th>
              <th scope="col"> Discord Changed </th>
              <th scope="col"> Status </th>
              <th scope="col"> Status Changed </th>
              <th scope="col"> Last login </th>
              <th scope="col"> Login IP</th>
              <th scope="col"> Signup </th>
              <th scope="col"> Signup Ip </th>
              <th scope="col"> Balance </th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach(user=> { %>
              <tr>
                <td>
                  <%= user.id %>
                </td>
                <td>
                  <%= user.discordName %>
                </td>
                <td>
                  <%= user.nickName %>
                </td>
                <td>
                  <%= user.deviceId %>
                </td>
                
                <td>
                  <div class="custom-control custom-switch">
                    <% if ( user.discordMember == 'YES' ) { %>
                      <input type="checkbox" class="custom-control-input" id="status-toggle-discord-<%= user.id %>"
                        checked>
                      <% } else { %>
                        <input type="checkbox" class="custom-control-input" id="status-toggle-discord-<%= user.id %>">
                        <% } %>
                          <label class="custom-control-label" for="status-toggle-discord-<%= user.id %>"></label>
                  </div>
                </td>
                <td>
                  <%= user.lastDiscordStatusChangedDate && new Date(user.lastDiscordStatusChangedDate).toISOString() %>
                </td>
                <td>
                  <div class="custom-control custom-switch">
                    <% if ( user.status=='ACTIVE' ) { %>
                      <input type="checkbox" class="custom-control-input" id="status-toggle-<%= user.id %>" checked>
                      <% } else { %>
                        <input type="checkbox" class="custom-control-input" id="status-toggle-<%= user.id %>">
                        <% } %>
                          <label class="custom-control-label" for="status-toggle-<%= user.id %>"></label>
                  </div>
                </td>
                <td>
                  <%= user.lastStatusChangedDate && new Date(user.lastStatusChangedDate).toISOString() %>
                </td>
                <td>
                  <%= user.lastlogin && new Date(user.lastlogin).toISOString() %>
                </td>
                <td>
                  <%= user.lastloginIp %>
                </td>
                <td>
                  <%= new Date(user.createdAt).toISOString() %>
                </td>
                <td>
                  <%= user.signupIpAddr %>
                </td>

                <td>
                  <%= user.balance %>
                </td>
                
              </tr>
              <% }); %>
          </tbody>
        </table>
      </body>
    </div>


    <script>

      const userIds = [];
      const users = JSON.parse('<%- JSON.stringify(users) %>');
      for (const user of users) userIds.push(user.id);

      userIds.forEach(userId => {
        document.getElementById('status-toggle-discord-' + userId).onchange = function (e) {
          const discordMember = e.target.checked ? 'YES' : 'NO';
          const body = { discordMember, userId };
          sendRequest(body);
        };

        document.getElementById('status-toggle-' + userId).onchange = function (e) {
          const status = e.target.checked ? 'ACTIVE' : 'BLOCKED';
          const body = { status, userId };
          sendRequest(body);
        };
      });

    </script>

    <script type="text/javascript" src="./javascripts/script.js"></script>