<%- include('header.ejs') %>
  <%- include('navbar.ejs') %>

    <div class="container-fluid">

      <body>
        <div class="input-group date" data-provide="datepicker">
          <form class="form-inline my-2 my-lg-0" method="post" action="/newUsers">
            <div>
              <label for="startDate">From</label>
              <input type="date" class="form-control" id="startDate" name="startDate">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
              </div>
            </div>
            <br>
            <div>
              <label for="endDate">To</label>
              <input type="date" class="form-control" id="endDate" name="endDate">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
              </div>
            </div>
            <!-- <input class="form-control mr-sm-2" id="nickName" name="nickName" type="search" placeholder="Nickname" aria-label="Search" /> -->
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            <p></p>
            <br />
          </form>
        </div>

        <br>
        <br>
        <p></p>
        <table class="table" id="usersList">
          <thead class="table-dark">
            <tr>
              <th scope="col"> User Id </th>
              <th scope="col"> Discord Name </th>
              <th scope="col"> Nick Name </th>
              <th scope="col"> Device Id </th>
              <th scope="col"> Discord Member Changed </th>
              <th scope="col"> Toggle Discord Member </th>
              <th scope="col"> Last login </th>
              <th scope="col"> Balance </th>
              <!-- <th scope="col"> Status </th> -->
              <th scope="col"> Status </th>
              <th scope="col"> Last Login IP</th>
              <th scope="col"> Signup Date </th>
              <th scope="col"> Signup Ip Address </th>
              <th scope="col"> Status Changed Date </th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach(user=> { %>
              <tr>
                <td>
                  <%= user.id %>
                </td>
                <td>
                  <%= user.discordName %>
                </td>
                <td>
                  <%= user.nickName %>
                </td>
                <td>
                  <%= user.deviceId %>
                </td>
                <td>
                  <%= user.lastDiscordStatusChangedDate %>
                </td>
                <td>
                  <div class="custom-control custom-switch">
                    <% if ( user.discordMember=='YES' ) { %>
                      <input type="checkbox" class="custom-control-input" id="status-toggle-discord" checked>
                      <% } else { %>
                        <input type="checkbox" class="custom-control-input" id="status-toggle-discord">
                        <% } %>
                          <label class="custom-control-label" for="status-toggle-discord"></label>
                  </div>
                </td>
                <td>
                  <%= user.lastlogin %>
                </td>
                <td>
                  <%= user.balance %>
                </td>
                <!-- <td>
                  <%= user.status %>
                </td> -->
                <td>
                  <div class="custom-control custom-switch">
                    <% if ( user.status=='ACTIVE' ) { %>
                      <input type="checkbox" class="custom-control-input" id="status-toggle" checked>
                      <% } else { %>
                        <input type="checkbox" class="custom-control-input" id="status-toggle">
                        <% } %>
                          <label class="custom-control-label" for="status-toggle"></label>
                  </div>
                </td>
                <td>
                  <%= user.lastloginIp %>
                </td>
                <td>
                  <%= user.createdAt %>
                </td>
                <td>
                  <%= user.signupIpAddr %>
                </td>
                <td>
                  <%= user.lastStatusChangedDate %>
                </td>
              </tr>
              <% }); %>
          </tbody>
        </table>
      </body>
    </div>


    <script>
      $(document).ready(function () {
        $('#usersList').DataTable();
        $('.dataTables_length').addClass('bs-select');
      });
    </script>

<script type="text/javascript" src="./javascripts/script.js"></script>