<%- include('header.ejs') %>
  <%- include('navbar.ejs') %>

    <body>
      <form class="form-inline my-2 my-lg-0" method="post" action="/profile">
        <input class="form-control mr-sm-2" id="key" name="key" type="search" placeholder="Nickname or User Id"
          aria-label="Search" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search
        </button>
        <p></p>
        <br/>
      </form>

      <br>
      <br>
      <p>Total rows: <%= users.length%>
      </p>
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col"> User Id </th>
            <th scope="col"> Discord Name </th>
            <th scope="col"> Nick Name </th>
            <th scope="col"> Device Id </th>
            <th scope="col"> Discord Member </th>
            <th scope="col"> Discord Changed </th>
            <th scope="col"> Status </th>
            <th scope="col"> Status Change </th>
            <th scope="col"> Last login </th>
            <th scope="col"> Last Login IP</th>
            <!-- <th scope="col"> Status </th> -->
            <th scope="col"> Signup </th>
            <th scope="col"> Signup Ip </th>
            <th scope="col"> Balance </th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(user=> { %>
            <tr>
              <td>
                <%= user.id %>
              </td>
              <td>
                <%= user.discordName %>
              </td>
              <td>
                <%= user.nickName %>
              </td>
              <td>
                <%= user.deviceId %>
              </td>

              <td>
                <div class="custom-control custom-switch">
                  <% if ( user.discordMember=='YES' ) { %>
                    <input type="checkbox" class="custom-control-input" id="status-toggle-discord" checked>
                    <% } else { %>
                      <input type="checkbox" class="custom-control-input" id="status-toggle-discord">
                      <% } %>
                        <label class="custom-control-label" for="status-toggle-discord"></label>
                </div>
              </td>
              <td>
                <%= new Date(user.lastDiscordStatusChangedDate).toISOString() %>
              </td>

              <td>
                <div class="custom-control custom-switch">
                  <% if ( user.status=='ACTIVE' ) { %>
                    <input type="checkbox" class="custom-control-input" id="status-toggle" checked>
                    <% } else { %>
                      <input type="checkbox" class="custom-control-input" id="status-toggle">
                      <% } %>
                        <label class="custom-control-label" for="status-toggle"></label>
                </div>
              </td>
              <td>
                <%= new Date(user.lastStatusChangedDate).toISOString() %>
              </td>
              <td>
                <%= user.lastloginIp %>
              </td>
              <td>
                <%= new Date(user.lastLogin).toISOString() %>
              </td>
              <td>
                <%= new Date(user.createdAt).toISOString() %>
              </td>
              <td>
                <%= user.signupIpAddr %>
              </td>
              <td>
                <%= user.balance %>
              </td>
            </tr>
            <% }); %>
        </tbody>
      </table>
    </body>

    <script type="text/javascript" src="./javascripts/script.js"></script>
    <script>

      document.getElementById('status-toggle-discord').onchange = function (e) {

        const users = '<%- JSON.stringify(users) %>';
        const user = JSON.parse(users);

        const discordMember = e.target.checked ? 'YES' : 'NO';
        const body = { discordMember, userId: user[0].id };

        return sendRequest(body);

      };

      document.getElementById('status-toggle').onchange = function (e) {

        const users = '<%- JSON.stringify(users) %>';
        const user = JSON.parse(users);

        const status = e.target.checked ? 'ACTIVE' : 'BLOCKED';
        const body = { status, userId: user[0].id };

        return sendRequest(body);

      };
    </script>

    <script type="text/javascript" src="./javascripts/script.js"></script>