<%- include('header.ejs') %>
  <%- include('navbar.ejs') %>

    <div class="container-fluid">

      <body>
        <form class="form-inline my-2 my-lg-0" method="post" action="/updateUser"><input class="form-control mr-sm-2"
            id="key" name="key" type="search" placeholder="Nickname or User id" aria-label="Search" /><button
            class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          <p></p><br />
        </form>

        <br>
        <br>
        <p></p>
        <table class="table" id="usersList">
          <thead class="table-dark">
            <tr>
              <th scope="col"> User Id </th>
              <th scope="col"> Discord Member </th>
              <th scope="col"> AccountStatus </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <%= user.id %>
              </td>
              <td>
                <%= user.discordMember %>
                  <div class="custom-control custom-switch">
                    <% if ( user.discordMember=='YES' ) { %>
                      <input type="checkbox" class="custom-control-input" id="status-toggle-discord" checked>
                      <label class="custom-control-label" for="status-toggle-discord"></label>
                      <% } else if (user.discordMember=='NO' ) { %>
                        <input type="checkbox" class="custom-control-input" id="status-toggle-discord">
                        <label class="custom-control-label" for="status-toggle-discord"></label>
                        <% } %>
                  </div>
              </td>
              <td>
                <%= user.status %>
                  <div class="custom-control custom-switch">
                    <% if ( user.status=='ACTIVE' ) { %>
                      <input type="checkbox" class="custom-control-input" id="status-toggle" checked>
                      <label class="custom-control-label" for="status-toggle"></label>
                      <% } else if (user.status=='BLOCKED' ) { %>
                        <input type="checkbox" class="custom-control-input" id="status-toggle">
                        <label class="custom-control-label" for="status-toggle"></label>
                        <% } %>
                  </div>
              </td>

            </tr>
          </tbody>
        </table>
      </body>
    </div>

    <script type="text/javascript" src="./javascripts/script.js"></script>
    <script>

      document.getElementById('status-toggle-discord').onchange = function (e) {

        const users = '<%- JSON.stringify(user) %>';
        const user = JSON.parse(users);

        const discordMember = e.target.checked ? 'YES' : 'NO';
        const body = { discordMember, userId: user.id };

        return sendRequest(body);

      };

      document.getElementById('status-toggle').onchange = function (e) {

        const users = '<%- JSON.stringify(user) %>';
        const user = JSON.parse(users);

        const status = e.target.checked ? 'ACTIVE' : 'BLOCKED';
        const body = { status, userId: user.id };

        return sendRequest(body);

      };
    </script>

<script type="text/javascript" src="./javascripts/script.js"></script>