<%- include('header.ejs') %>
  <%- include('navbar.ejs') %>

    <div class="container-fluid">

      <body>
        <div>
          <form class="form-inline" method="post" action="/updateUser">
            <label style="margin-left:12px; margin-top:5px;" for="startDate">From</label>
            <input style="margin-left:12px; margin-top:5px;" type="date" class="form-control" id="startDate"
              name="startDate">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-th"></span>
            </div>
            <br>
            <!-- <div> -->
            <label style="margin-left:12px; margin-top:5px;" for="endDate">To</label>
            <input style="margin-left:12px; margin-top:5px;" type="date" class="form-control" id="endDate"
              name="endDate">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-th"></span>
            </div>
            <!-- </div> -->
            <!-- <input class="form-control mr-sm-2" id="nickName" name="nickName" type="search" placeholder="Nickname" aria-label="Search" /> -->
            <button style="margin-left:12px; margin-top:5px;" class="btn btn-outline-success my-2 my-sm-0"
              type="submit">Search</button>
            <!-- <p></p> -->
            <!-- <br /> -->
          </form>
        </div>

        <br>
        <br>
        <p></p>
        <p><b> Start Date: <%= startDate %> </b>
        <p><b> End Date: <%= endDate %> </b>
        <table class="table" id="usersList">
          <thead class="table-dark">
            <tr>
              <th scope="col"> User Id </th>
              <th scope="col"> Discord Member </th>
              <th scope="col"> AccountStatus </th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach(u => { %>
              <tr>
                <td>
                  <%= u.id %>
                </td>
                <td>
                  <div class="custom-control custom-switch">
                    <% if ( u.discordMember=='YES' ) { %>
                      <input type="checkbox" class="custom-control-input" id="status-toggle-discord-<%= u.id %>"
                        checked>
                      <% } else { %>
                        <input type="checkbox" class="custom-control-input" id="status-toggle-discord-<%= u.id %>">
                        <% } %>
                        <label class="custom-control-label" for="status-toggle-discord-<%= u.id %>"></label>
                  </div>
                </td>
                <td>
                  <div class="custom-control custom-switch">
                    <% if ( u.status=='ACTIVE' ) { %>
                      <input type="checkbox" class="custom-control-input" id="status-toggle-<%= u.id %>" checked>
                      <% } else { %>
                        <input type="checkbox" class="custom-control-input" id="status-toggle-<%= u.id %>">
                        <% } %>
                        <label class="custom-control-label" for="status-toggle-<%= u.id %>"></label>
                  </div>
                </td>
  
              </tr>

           <% }) %>
          </tbody>
        </table>
      </body>
    </div>

    <script type="text/javascript" src="./javascripts/script.js" defer></script>
    <script defer>

      const userIds = [];
      const users = JSON.parse('<%- JSON.stringify(users) %>');
      for (const user of users) userIds.push(user.id);

      console.log(userIds)
      userIds.forEach(userId => {
        document.getElementById('status-toggle-discord-' + userId).onchange = function (e) {
          console.log(e.target)
          const discordMember = e.target.checked ? 'YES' : 'NO';
          const body = { discordMember, userId };
          console.log(body);
          sendRequest(body);
        };

        document.getElementById('status-toggle-' + userId).onchange = function (e) {
          const status = e.target.checked ? 'ACTIVE' : 'BLOCKED';
          const body = { status, userId };
          console.log(body)
          sendRequest(body);
        };
      });

    </script>

<script type="text/javascript" src="./javascripts/script.js"></script>